body{
  background-color: violet;
}
#titulo{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.texto{
  font-size: 20pt;
}

.spin{
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }