body{
  background-image:url("https://i1.sndcdn.com/avatars-000527072667-gh70ka-t500x500.jpg");
  background-size:cover;
}
#titulo{
  color:white
}

.spin1{
    animation: rotation 0.05s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }